.mb {
  margin-bottom: 2rem;
}
.mb-sm {
  margin-bottom: 1rem;
}

.submit-btn-login {
    display: flex;
    justify-content: end;
}

.submit-btn-forget {
    text-align: end;
    margin-top: 20px;
}
