form {
  width: 100%;
  min-height: 100%;

  .checkbox-form {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
  }

  .div-type {
    margin: 1rem;
  }
}
.time-form {
  margin-top: 2rem;
}

.send-btn {
  margin-top: 2rem;
}

  .B-btn {
    margin-left: auto;
    margin-right: auto;
  }
