/* You can add global styles to this file, and also import other style files */
@use 'variables';
@use 'mixins';
@use "tailwindcss";

* {
  font-family: variables.$font-primary;
}

.font-seconde {
  font-family: variables.$font-seconde;
  //title, h1, etc..
}

//HEADER
header {
  position: fixed;
  z-index: 2;
  top: 10px;
  left: 10px;
}

main {
  @include mixins.main-center;
}

.main-content {
  background-color: variables.$secondary-color;
  position: relative;
  top: 0;
}

//yellow-box
.main-box {
  @include mixins.main-center(12%, 100vh);
  background-color: variables.$secondary-color;
}

.h1-primary {
  @include mixins.title-h1(2rem auto);
}

.h1-articles-title {
  @include mixins.title-h1(1rem auto);
  width: 250px;
  background-color: white;
  position: absolute;
  margin-top: 1rem;
  margin-left: 2rem;
  border: none;
  font-size: 1.2rem;
}

.h1-form-title {
  @include mixins.title-h1(1.2rem auto);
  font-size: 1.2rem;
}

.h1-articleByCategory-title {
  @include mixins.title-h1(1.2rem auto);
  width: 250px;
  font-size: 1rem;
}

.box-div-article {
  @include mixins.box-div;
  width: 80%;
  min-height: 80vh;
}

.box-div-articles {
  width: 100%;
  height: auto;
  background-color: white;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding: 1rem 1rem;
  margin: 1.5rem auto;
}

.box-div-connexion {
  @include mixins.box-div;
}

.box-div {
  @include mixins.box-div;
  @include mixins.flex-center;
}

.content-div {
  border: solid 1px;
  padding-top: 10px;
  padding-bottom: 70px;
  padding-left: 120px;
  padding-right: 120px;
  margin-left: 7%;
  margin-right: 7%;
  margin-top: 2rem;
  margin-bottom: 2rem;
  text-align: start;
  border-radius: 3px;
}

.exercise-row {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60%;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 12px;
  margin-bottom: 12px;
  box-shadow: 0 2px 6px rgb(128, 128, 128);
  margin: 2rem auto;
}


.B-btn {
  @include mixins.black-button;
}

.B-btn:hover {
  background-color: variables.$btn-hover-color;
}



.custom-select-panel {
  background: #fff !important;
  color: #222 !important;
  // Add any other styling you want
}

@media (max-width: 900px) {
  .main-box {
    background-color: white;
    margin: 0;
  }

  .box-div {
    @include mixins.box-div;
    @include mixins.flex-center;
    background-color: white;
    box-shadow: none;
    width: 100%;
  }

  .h1-form-title {
    @include mixins.title-h1(1rem auto);
    font-size: 1rem;
    width: 200px;
  }

  .box-div-connexion {
    box-shadow: none;
    width: 100%;
  }
}

@media (max-width: 700px) {
  main {
    @include mixins.main-center(auto, auto);
    width: 100%;
    justify-content: center;
  }

  .main-box {
    width: 100%;
    padding: 2% 5%;
  }

  .content-div {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 0px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
    width: 100%;
    border: none;
  }

  .box-div-article {
    width: 100%;
    background-color: white;
    border-radius: 0;
    box-shadow: none;
    padding: 1rem 1rem;
    margin: auto auto;
  }

  .h1-articles-title {
    position: relative;
    text-align: center;
    margin: 0 auto;
    border: solid 1px #abaaa7;
  }

  .h1-form-title {
    @include mixins.title-h1(1rem auto);
    font-size: 1rem;
    width: 180px;
  }

  
}
