//COLORS
$primary-color: #FBD14B; //yellow-nav
$secondary-color: #FFFCF0; //yellow-article
$black-color: rgba(24, 24, 24); //footer, btn, etc..
$black-shadow-color: rgba(24, 24, 24, 0.66); //title-shadow...
$font-color: #2A2A2A; //text
$btn-hover-color: #444; //btn hover

//FONTS
$font-primary: "Asap", Arial, Helvetica, sans-serif;
$font-seconde: "Bitter", Arial, Helvetica, sans-serif;
