<div class="reset-password-box">
    <div class="reset-wrapper">
        <h1 class="h1-form-title">Réinitialisation <br /> du mot de passe</h1>
        <form [formGroup]="passwordForm" class="reset-form" (ngSubmit)="onPasswordChange()">
            <mat-form-field appearance="outline" class="edit-field">
                <mat-label>Nouveau mot de passe</mat-label>
                <input matInput formControlName="newpassword" />
            </mat-form-field>
            <mat-form-field appearance="outline" class="edit-field">
                <mat-label>Confirmer mot de passe</mat-label>
                <input matInput formControlName="confirmpassword" />
            </mat-form-field>
            <div class="edit-actions">
                <button type="submit" class="profile-btn text-white bg-blue-700 px-5 py-2.5 w-full rounded-lg text-center text-sm font-medium hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 sm:w-auto dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                    Confirmer
                </button>
                <button mat-stroked-button color="primary" type="button" (click)="cancelEditPassword()" class="profile-btn">
                    Annuler
                </button>
            </div>
        </form>
    </div>
</div>

