<div class="container">
  <mat-card>
    <mat-card-title>Vérification d'email</mat-card-title>
    <mat-card-content>
      <div *ngIf="isLoading" class="loading-spinner">
        <mat-spinner></mat-spinner>
      </div>
      <div *ngIf="message" id="message-container" [class.success-message]="isSuccess" [class.error-message]="error">
        {{ message }}
      </div>
    </mat-card-content>
  </mat-card>
</div>

<div *ngIf="isLoading">Verifying...</div>
<div *ngIf="error" class="error">{{ error }}</div>
<div *ngIf="isSuccess">Votre email à été vérifié avec succès !</div>
