<div class="password-wrapper">
  <div class="forget-password-main">
    <h1 class="h1-form-title mb">Mot de passe oublié ?</h1>
    <form (ngSubmit)="onForgetPassword()" #forgetForm="ngForm">
      <input type="email"
             name="email"
             [(ngModel)]="email"
             required
             placeholder="Entrez votre email"
             class="mb-2 p-2 border rounded w-full" />
      <button type="submit"
              class="text-center font-bold text-sm text-blue-500 hover:text-blue-800"
              [disabled]="forgetForm.invalid">
        Réinitialiser le mot de passe ?
      </button>
    </form>
    <div *ngIf="successMessage" class="text-green-600 mt-2 text-sm">{{ successMessage }}</div>
    <div *ngIf="errorMessage" class="text-red-600 mt-2 text-sm">{{ errorMessage }}</div>
  </div>
</div>

