@use 'mixins';

.forget-password-main {
  @include mixins.flex-center;
  height: 200px;
  width: 500px;
  border: solid black 1px;
  border-radius: 2%;
  margin: auto;
  text-align: end;
  flex-direction: column;
  padding: 20px, 30px, 20px, 30px;
}

.password-wrapper {
    height: 100vh;
    display: flex;
}
