.forget-password-main {
  height: 200px;
  width: 500px;
  border: solid black 1px;
  border-radius: 2%;
  margin: auto;
  text-align: end;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px, 30px, 20px, 30px;
}

.password-wrapper {
    height: 100vh;
    display: flex;
}
