@use 'variables';
@use 'mixins';

.exercise-row {
  @include mixins.flex-center;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 5px;
  margin-bottom: 7rem;
  box-shadow: 0 2px 6px rgb(128, 128, 128);
}

.exercise-item {
  flex: 1;
  padding: 0 10px;
}

.exercise-item:last-child {
  flex: none;
}

.play-arrow {
  color: #2ecc40;
  transform: scale(1.5);
}

.play-arrow:hover {
  color: variables.$primary-color;
  cursor: pointer;
  transform: scale(1.2);
}

.btn-play {
  margin-right: 20px;
}

.delete:hover {
  color: variables.$primary-color;
  cursor: pointer;
}
